<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Symptom Log</title>
</head>
<body>
    <h1>Daily Symptom Log</h1>
    <main class="log container">
         <% logs.forEach(log => { %>
         <% const logDate = log.date; %>
         <% const today = new Date(); %>
         <% if (logDate.getMonth() == today.getMonth()) { %>
            <section class="log-card">
                <h2 class="log-date"><%=log.date.toLocaleDateString("en-US", { month: "short", day: "2-digit" })%></h2>
            </section>
        <%   } %>
     <%   }) %>
    </main>
</body>
</html>