<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Symptom Log</title>
    <%- include("./partials/head.ejs") %>
</head>
<body>
    <%- include("./partials/nav.ejs") %>
    <main class="log container">
        <h1 class="py-4">My Logs</h1>
        <div class="row row-cols-1 row-cols-md-5 g-3 border border-info py-4">
            <div class="col">
                <a href="/symptomTracker/new" class="add-log">
                <section class="new-log card mb-3 mx-3">
                    <h2>Add new log!</h2>
                </section>
                </a>
            </div>
                <% if (logs.length > 0) { %>
                <% logs.sort((a, b) => { return a.date - b.date }) %>
                <% logs.forEach(log => { %>
                    <div class="col">
                        <a href="/symptomTracker/<%= log._id %>">
                        <section class="card mb-3 mx-3">
                            <h2 class="log-date card-title"><%=log.date.toLocaleDateString("en-US", { month: "short", day: "2-digit" })%></h2>
                        </section>
                    </a>
                    </div>
                <%   }) %>
                <%   } %>
            </div>
        </div>
    </main>
</body>
</html>