<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Symptom Log</title>
    <%- include("./partials/head.ejs") %>
</head>
<body>
    <%- include("./partials/nav.ejs") %>
    <main class="log container">
        <% if (logs.length > 0) { %>
        <% logs.forEach(log => { %>
            <% const logDate = log.date; %>
            <% const today = new Date(); %>
                <% if (logDate.getMonth() == today.getMonth()) { %>
                   <section class="log-card">
                       <a href="/symptomTracker/<%= log._id %>"><h2 class="log-date"><%=log.date.toLocaleDateString("en-US", { month: "short", day: "2-digit" })%></h2></a>
                   </section>
                <%   } %>
        <%   }) %>
        <%   }  else { %>
            <section class="new-log">
                <a href="/symptomTracker/new" class="add-log">No logs yet this month...add one now!</h2>
            </section>
         <%   } %>
    </main>
</body>
</html>