<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Symptom Log</title>
</head>
<body>
    <h1><%= log.date.toLocaleDateString("en-US", { weekday: "long", month: "short", day: "2-digit", year: "numeric" })%>'s Entry</h1>
</body>
</html>