/* Custom Styling */
header {
	background: #023047;
}

nav {
	text-align: center;
}

nav a,
.nav-link {
	color: #8ECAE6;
}

.navbar-brand {
	font-size: 25px;
}

.navbar-brand:hover {
	color: #8ECAE6;
}