/* Custom Styling */
header {
	background: #023047;
}

nav {
	text-align: center;
}

nav a,
.nav-link,
.navbar-brand:hover {
	color: #8ECAE6;
}

.navbar-brand {
	font-size: 25px;
}

h1 {
	color: #003566;
}

.rows {
	text-align: center;
}

.border-info {
	--bs-border-color: #023047;
	border: 1px solid var(--bs-border-color) !important;
}

.card {
	height: 200px;
	min-width: 115px;
	max-width: 175px;
	text-align: center;
	border-color: #023047;
	color: #003566;
}

.card:hover {
	color: #8ECAE6;
	border-color: #219EBC;
	box-shadow: 3px 3px 1px #023047;
}

div a {
	text-decoration: none;
}

.edit,
.add {
	background-color: #023047 !important;
}

.edit:hover,
.add:hover {
	background-color: var(--bs-bg-light) !important;
	color: #023047 !important;
	border-color: #023047 !important;
}

.btn-danger:hover {
	background-color: var(--bs-bg-light) !important;
	color: var(--bs-danger) !important;
	border-color: var(--bs-danger) !important;
}

.delete {
	background-color: #FB8500 !important;
}

main.entry {
	border: 1px solid #023047;
}


