/* Custom Styling */
header {
	background: #023047;
}

nav {
	text-align: center;
}

nav a,
.nav-link,
.navbar-brand:hover {
	color: #8ECAE6;
}

.navbar-brand {
	font-size: 25px;
}

.rows {
	text-align: center;
}

.card {
	height: 200px;
	min-width: 125px;
	max-width: 175px;
	text-align: center;
}

